@import "../../../styles/variables";
@import "../../../styles/typography";

:host {
  display: flex;
  height: 7.3rem;
  background-color: $color-gray-2;
  align-items: center;
}

.icon {
  display: inline-block;
  height: 1.7rem;
  width: 1.7rem;
  border: 2px solid #7D82F7;
  border-radius: 50%;
  margin-left: 2.7rem;
}

.text {
  color: $color-white;
  margin-left: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.separator {
  height: 3.5rem;
  margin-left: 3.1rem;
  border-left: 2px solid #757b8f;
}
