<app-header></app-header>
<div class="servers-containter">
  <div class="servers-box">
    <div class="box-header">
      <div>
        <p class="box-header__title">Servers</p>
        <p class="box-header__info">Number of elements: {{ serverCount }}</p>
      </div>
      <div class="box-header__search">
        <i class="material-icons search-icon">search</i>
        <input
          placeholder="Search"
          class="box-header__search-input"
          (keyup)="applyFilter($event.target.value)"
        />
      </div>
    </div>
    <app-servers-list
      [tableData]="tableData"
      (turnServerOff)="turnServerOff($event)"
      (turnServerOn)="turnServerOn($event)"
      (rebootServer)="rebootServer($event)"
    ></app-servers-list>
  </div>
</div>
