@import "../../styles/variables";
@import "../../styles/typography";

.servers-containter {
  display: flex;
  justify-content: center;
}

.servers-box {
  width: 60%;
}

.box-header {
  display: flex;
  height: auto;
  margin: 4.2rem 0 1rem 0;
  justify-content: space-between;

  &__title {
    color: $color-gray-2;
    font-size: 2.1rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
  }

  &__info {
    color: $color-gray-2;
  }

  &__search {
    display: flex;
    width: 26.3rem;
    height: 3.7rem;
    border: 2px solid #d4d7e1;
    border-radius: 5rem;
    justify-content: flex-end;
  }

  &__search-input {
    color: $color-gray-3;
    background-color: inherit;
    caret-color: $color-gray-3;
    width: 80%;
    margin-right: 1.5rem;
    border: none;
    outline: none;
    font-weight: 600;
  }

  &__search-input::placeholder {
    color: $color-gray-3;
    font-size: 1.4rem;
    font-weight: 600;
  }
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.4rem;
  color: $color-gray-3;
}
