<mat-table [dataSource]="tableData">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>STATUS</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="status-online" *ngIf="element.status === 'ONLINE'">
        <span class="material-icons online-icon">
          brightness_1
        </span>
        {{ element.status }}
      </span>
      <span class="status-offline" *ngIf="element.status === 'OFFLINE'">
        <span class="material-icons offline-icon">
          close
        </span>
        {{ element.status }}
      </span>
      <span class="status-rebooting" *ngIf="element.status === 'REBOOTING'">
        {{ element.status }}...
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dropdown">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a
        [ngClass]="{ disabled: element.status === 'REBOOTING' }"
        [matMenuTriggerFor]="menu"
        class="server-dropdown"
      >
        <span class="material-icons">
          more_horiz
        </span>
      </a>
      <mat-menu #menu="matMenu">
        <button
          (click)="turnServerOnClicked(element)"
          *ngIf="element.status === 'OFFLINE'"
          mat-menu-item
        >
          <span>Turn on</span>
        </button>
        <button
          (click)="turnServerOffClicked(element)"
          *ngIf="element.status === 'ONLINE'"
          mat-menu-item
        >
          <span>Turn off</span>
        </button>
        <button
          (click)="rebootServerClicked(element)"
          *ngIf="element.status === 'ONLINE'"
          mat-menu-item
        >
          <span>Reboot</span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
