@import "../../../styles/variables";

mat-table {
  border: 2px solid #ededf0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

mat-header-row {
  height: 7rem;
  align-items: flex-end;
}

mat-header-cell {
  color: #9ca7d3;
  font-size: 1.4rem;
}

// first column
mat-cell:first-of-type,
mat-footer-cell:first-of-type,
mat-header-cell:first-of-type {
  padding-left: 4rem;
  max-width: 25rem;
}

// last column
mat-cell:last-of-type,
mat-footer-cell:last-of-type,
mat-header-cell:last-of-type {
  justify-content: flex-end;
}

// every row of table
mat-footer-row,
mat-header-row,
mat-row {
  border-bottom-width: 2px;
  border-bottom-color: #ededf0;
}

// status cell
mat-header-cell,
cdk-column-status,
mat-column-status{
  padding-left: 1rem;
}

.mat-menu-item {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.status-online {
  color: $color-light-green;

  .online-icon {
    color: $color-light-green;
    font-size: 1rem;
  }
}

.status-offline {
  display: flex;
  align-items: center;
  margin-left: -4px;

  .offline-icon {
    color: #ea5885;
    font-size: 2rem;
    font-weight: bold;
  }
}

.status-rebooting {
  color: $color-gray-3;
}

.server-dropdown {
  cursor: pointer;

  span {
    color: $color-gray-3;
    font-size: 3rem;

    &:hover {
      background-color: $color-gray-1;
      border-radius: 50%;
    }
  }
}

.disabled {
  pointer-events: none;
}
