@import "../styles/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // definition of how much of the browser font should 1rem be
  // 1rem of 10px at default browser font ease designing application
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: $color-gray-1;
}
